UrepVrgame/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
UrepVrgame/Library/* filter=lfs diff=lfs merge=lfs -text
UrepVrgame/Library/PackageCache/com.unity.burst@1.6.0/.Runtime/hostmac/lld filter=lfs diff=lfs merge=lfs -text
